expose:
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: "harbor-tls"
      notarySecretName: "harbor-tls"
  ingress:
    hosts:
      core: harbor.local.com
      notary: notary.harbor.local.com

externalURL: https://harbor.local.com

harborAdminPassword: "YourStrongPassword"
